<p style="color: green"><%= notice %></p>
<div class="pt-[80px] flex flex-col">
  <h1 class="text-center text-xl">
    Find what suits you within our
    <strong><%= @properties.length%></strong> properties
  </h1>

  <div
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 py-5 gap-3 auto-rows-auto items-center w-full px-3"
  >
    <% @properties.each do |property| %>
    <div
      id="properties"
      class="w-full h-full overflow-hidden rounded-lg shadow-lg p-5 flex flex-col justify-between bg-white"
    >
      <%= render property %> <%= link_to "Show this property", property, class:
      "w-full h-12 py-3 text-white text-center transition-colors duration-150
      bg-black rounded-full focus:shadow-outline hover:bg-gray-800
      cursor-pointer" %>
    </div>
    <% end %>
  </div>

  <% if @properties.length < 50 %>
  <button
    class="font-bold text-center self-center underline underline-offset-8 pb-5"
  >
    <%= link_to "Add a new property", new_property_path %>
  </button>
  <% else %>
  <h5 class="text-center">
    The number of properties is limited to <strong>50</strong>
  </h5>
  <% end %>
</div>
