<div class='flex flex-col justify-center items-center bg-gray-100 gap-3 h-screen'>
<div class='flex flex-col justify-center items-center pt-32 bg-gray-100 gap-7'>



<%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class =>'bg-white p-5 w-[300px] md:w-[600px] lg:w-[800px] h-[450px]  rounded-xl flex flex-col justify-center gap-5'}) do |f| %>
  <h2 class='mb-3 text-2xl font-bold tracking-tight text-gray-800 text-center'>Log in</h2>
  <div class="field">
    <%= f.label :email, class: "text-sm text-gray-600" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "w-full h-10 px-3 mb-2 text-base text-gray-700 placeholder-gray-600 border rounded-lg focus:shadow-outline" %>
  </div>

  <div class="field">
    <%= f.label :password, class: "text-sm text-gray-600" %><br />
    <%= f.password_field :password, autocomplete: "current-password", class: "w-full h-10 px-3 mb-2 text-base text-gray-700 placeholder-gray-600 border rounded-lg focus:shadow-outline" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me, class: "text-sm text-gray-600" %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in", class: "w-full h-12 px-6 text-white transition-colors duration-150 bg-black rounded-full focus:shadow-outline hover:bg-gray-800 cursor-pointer" %>
  </div>
<% end %>
<button class='font-extrabold'>
<%= render "devise/shared/links" %></button>

</div>
</div>
