<!DOCTYPE html>
<html>
  <head>
    <title>PropertyExhibit</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class='bg-gray-200'>
   <p class="notice text-center bg-green-100 text-gray-400 rounded-lg"><%= notice %></p>
   <p class="alert text-center bg-red-100 text-gray-400 rounded-lg"><%= alert %></p>
    <div class = 'fixed w-full h-[70px] flex justify-between items-center px-4 bg-white shadow-md'>
      <div>
       <img src="https://user-images.githubusercontent.com/92399469/196821880-2e5fbb38-5342-40af-8753-362bef90d02c.png" class="w-[60px] rounded-md" />
      </div>
     <div class='flex gap-4'>
         <% if current_user %>
           <div class='font-normal text-lg text-gray-700 pr-10'> <%= button_to "log out", destroy_user_session_path, method: :delete %> </div>
         <% else %>
           <div class='font-normal text-lg text-gray-700 pr-10'> <%= button_to "Login",  new_user_session_path, method: :get %></div>
         <% end %>
         <div class='font-normal text-lg text-gray-700 pr-10'> <%= button_to "Properties", properties_path, method: :get %> </div>
      </div>
    </div>
  
    <%= yield %>
  </body>
</html>
